.chatbot-card {
  border-radius: 12px;
  max-width: 400px;
  font-size: 14px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.chatbot-card .program-id {
  font-size: 12px;
  color: #64748b;
  margin-top: 10px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
}
