<div class="course-details-container" *ngIf="program">
  <div class="course-header">
    <!-- <button nz-button nzType="text" nzSize="large" (click)="goBack()">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      Back to Chat
    </button> -->

    <nz-card class="course-info">
      <nz-skeleton [nzActive]="true" [nzLoading]="isLoading">
        <nz-card-meta
          [nzTitle]="program.title"
          [nzDescription]="program.description"
        >
        </nz-card-meta>
        <div class="course-tags">
          <nz-tag *ngFor="let tag of program.skills" [nzColor]="'blue'">
            {{ tag }}
          </nz-tag>
        </div>
      </nz-skeleton>
    </nz-card>

    <ng-template #actionSetting>
      <nz-icon nzType="setting" />
    </ng-template>
    <ng-template #actionEdit>
      <nz-icon nzType="edit" />
    </ng-template>
    <ng-template #actionEllipsis>
      <nz-icon nzType="ellipsis" />
    </ng-template>
  </div>

  <div
    class="course-content"
    *ngIf="program.courses && program.courses.length > 0"
  >
    <nz-card
      class="course-card"
      *ngFor="let course of program.courses"
      [nzExtra]="dragTemplate"
      [nzTitle]="course.title"
    >
      <nz-skeleton [nzActive]="true" [nzLoading]="isLoading">
        <p>{{ course.description }}</p>
        <div class="course-card-content"></div>
      </nz-skeleton>
    </nz-card>

    <ng-template #dragTemplate>
      <nz-icon nzType="drag" nzTheme="outline" />
    </ng-template>
  </div>
</div>
